.container {
  display: flex;

  .description {
    display: flex;
    gap: 4px;
  }

  .noAvatar {
    display: grid;
    place-items: center;

    width: 36px;
    height: 36px;
    margin-right: 12px;

    background-color: var(--color-dark-300);
    border-radius: 50%;
  }

  .avatar {
    margin-right: 12px;
    border-radius: 50%;
  }
}
