.root {
  display: flex;
  flex-direction: column;
  height: 100%;

  & > * {
    margin-bottom: 13px;
  }

  .messenger {
    display: flex;
    height: 100%;
    border: 1px solid var(--color-dark-100);

    .users {
      max-width: 269px;
      height: 100%;
      border-right: 1px solid var(--color-dark-100);

      .search {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 72px;
        padding: 0 12px;

        border-bottom: 1px solid var(--color-dark-100);
      }

      .usersList {
      }
    }

    .chat {
      width: 100%;

      .head {
        height: 72px;
        border-bottom: 1px solid var(--color-dark-100);
      }

      .body {
      }
    }
  }
}
