.container {
  display: flex;
  margin-top: 14px;

  .marginNone {
    margin-left: 0;
    padding-right: 4px;
  }

  .likesPhotos {
    .avatarContainer {
      border-radius: 50%;

      img {
        border-radius: 50%;
      }
    }
  }

  .likesCount {
    margin-left: 12px;
    padding-right: 4px;
  }
}
