.root {
  cursor: pointer;

  position: relative;

  display: flex;
  gap: 12px;

  height: 72px;
  padding: 12px;

  border-bottom: 1px solid var(--color-dark-300);

  &:hover {
    background: var(--color-dark-300);
  }

  .avatar {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 48px;
    height: 48px;

    background: var(--color-dark-300);
    border-radius: 50%;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    .desc_head {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .text {
      padding: 5px 0;
    }

    .unread {
      background: var(--color-dark-900);
      border-radius: 5px;
    }
  }

  .email {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 24px;
    height: 24px;

    & > svg {
      animation-name: blink;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
