@import '@/styles/variables/mixins';

.container {
  @include mobile-large {
    width: 330px;
  }

  display: flex;
  flex-direction: column;

  width: 490px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.fetchSpinner {
  @include mobile-large {
    margin-top: -70px;
    margin-bottom: 70px;
  }

  display: grid;
  place-items: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

.noPosts {
  display: grid;
  gap: 6px;
  place-items: center;
  margin-top: 20px;

  h2 {
    font-size: 1rem;
  }

  a {
    font-size: 0.9rem;
    color: var(--color-primary-300);

    &:hover {
      opacity: 0.75;
    }
  }
}

.spinner {
  display: grid;
  place-items: center;
  height: 50vh;
  margin-bottom: 50px;
}

.inView {
  @include mobile-large {
    height: 10vh;
  }
}

.photos {
  @include mobile-large {
    width: 330px;
    height: 325px;
    border-radius: 3px;
  }

  width: 490px;
  height: 505px;
}
