@import '@/styles/variables/mixins';

.container {
  @include mobile-large {
    width: 330px;
  }

  display: flex;
  flex-direction: column;

  width: 490px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
