@import '@/styles/variables/mixins';

.container {
  @include mobile-large {
    margin-bottom: 12px;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 12px;
  margin-bottom: 10px;

  & > .btnIcon:hover {
    cursor: pointer;

    path {
      fill: var(--color-light-700);
    }
  }

  .groupIcons {
    @include mobile-large {
      gap: 12px;
    }

    display: flex;
    gap: 20px;
    align-items: center;

    & > .btnIcon:first-child:hover {
      cursor: pointer;

      path {
        fill: var(--color-danger-500);
      }
    }

    & > .btnIcon:not(:first-of-type):hover {
      cursor: pointer;

      path {
        fill: var(--color-primary-300);
      }
    }
  }
}
