.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 12px;
  margin-bottom: 10px;

  .btnIcon > svg:hover {
    cursor: pointer;

    path {
      fill: var(--color-primary-300);
    }
  }

  .groupIcons {
    display: flex;
    gap: 20px;
    align-items: center;

    & > svg:hover {
      cursor: pointer;

      path {
        fill: var(--color-primary-100);
      }
    }
  }
}
