.userWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 65px;

  border-bottom: 1px solid var(--color-dark-100);
}

.userBlockWithPilot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
}

.userPhotoWrapper {
  display: flex;
  gap: 12px;
  align-items: center;

  .photo {
    overflow: hidden;
    display: grid;
    place-items: center;
    align-self: baseline;

    width: 36px;
    height: 36px;

    object-fit: cover;
    background-color: var(--color-dark-700);
    border-radius: 50%;
  }
}

.userContainer {
  margin: 15px;
}

.postOptions {
  cursor: pointer;
  margin: 24px;
}

.commentsBlock {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-dark-100);
}

.likesBlock {
  border-bottom: 1px solid var(--color-dark-100);
}

.addCommentBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.buttonIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 12px;
}

.buttonIcon {
  margin: 12px;
}

.button {
  margin-left: 24px;
}

.userCommentContainer {
  margin: 15px 15px 0;
}

.userCommentContainer:last-child {
  margin-bottom: 15px;
}

.commentText {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.commentLike {
  align-items: flex-start;
  margin-top: 17px;

  & :hover {
    cursor: pointer;
  }
}

.createCommentTime {
  color: var(--color-light-900);
}

.commentAnswer {
  cursor: pointer;
  margin-left: 12px;

  &:hover {
    color: var(--color-light-100);
    transition-duration: 0.3s;
  }
}

.commentLikes {
  margin-left: 12px;
}

.commentInfo {
  display: flex;
  flex-direction: row;
  color: var(--color-light-900);
}

.addCommentAnswer {
  display: flex;
  flex-direction: column;

  & .answerButtonHide {
    margin: 8px 0 15px;
    color: var(--color-light-900);
  }

  & .sendAnswerButton {
    display: flex;
    text-align: end;
  }
}

.answer {
  margin: 0 0 15px 50px;
}
