@import '@/styles/variables/mixins';

.container {
  @include mobile {
    overflow: hidden;
    width: 100%;
    height: calc(100% - 120px);
    background: transparent;
  }

  width: 490px;

  .croppingWrapper {
    position: relative;
    padding: 0;
  }

  .errorWrapper {
    position: absolute;
    z-index: var(--zindex-crop-error);
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    & p {
      width: 90%;
      text-align: center;
      background: var(--color-danger-900);
      border: 1px solid var(--color-danger-500);
    }
  }

  .imgWrapper {
    @include mobile {
      width: 100%;
    }

    width: 490px;
    height: 490px;

    .croppingImage {
      position: absolute;
      z-index: var(--zindex-crop);
      object-fit: contain;
    }
  }

  .btnGroup {
    position: absolute;
    z-index: var(--zindex-crop);
    bottom: 0;
    left: 0;

    display: flex;
    align-items: flex-end;

    width: 100%;
    height: 38px;
    padding: 10px;

    & > *:first-child {
      margin-right: 24px;
    }

    & > *:last-child {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }
}

.prevBtn {
  align-self: center;
  padding: 0;
}
