.root {
  display: flex;
  flex-direction: column;
  height: 100%;

  & > * {
    margin-bottom: 13px;
  }

  .messenger {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: minmax(150px,269px) 1fr;
    grid-template-rows: 72px 1fr;

    height: 600px;

    background: var(--color-dark-300);
    border: 1px solid var(--color-dark-300);

    .search {
      display: flex;
      grid-column: 1/2;
      grid-row: 1/2;
      align-items: center;
      justify-content: center;

      height: 72px;
      padding: 0 12px;

      background: var(--color-dark-500);

    }

    .usersList {
      grid-column: 1/2;
      grid-row: 2/3;
      background: var(--color-dark-500);
    }

    .chatHead {
      grid-column: 2/3;
      grid-row: 1/2;
      background: var(--color-dark-500);
    }

    .chatBody {
      grid-column: 2/3;
      grid-row: 2/3;
      background: #0D0D0D;
    }

    @media (height <= 768px) {
      height: 500px;
    }
  }

}
