@import '@/styles/variables/mixins';

.header {
  @include mobile {
    padding-inline: 15px;
  }

  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  width: 100%;
  height: var(--header-height);

  background: var(--color-dark-900);
  border-bottom: 1px solid var(--color-dark-300);
}

.container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;

  .meContainer {
    display: flex;
    gap: 48px;
  }

  .notMeContainer {
    display: flex;

    .btnLogIn {
      @include mobile {
        display: none;
      }

      margin-right: 34px;
      margin-left: 46px;
    }

    .btnSignUp {
      @include mobile {
        display: none;
      }

      height: 35px;
      margin-top: 2px;
    }
  }
}

.wrapper {
  display: flex;
  gap: 54px;
}
