.closeModal {
  width: 100%;
  max-width: 378px;
}

.closeModalRu {
  width: 100%;
  max-width: 500px;

  p {
    width: 100%;
  }
}

.closeModalEn {
  width: 100%;
  max-width: 378px;
}

.buttonsBlock {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}
