.container {
  display: flex;
}

.modalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 60px 111px 36px;
}

.buttonsBlock {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.button {
  margin-left: 24px;
}
