.container {
  width: 972px;
}

.prevBtn {
  align-self: center;
  padding: 0;
}

.imgWrapper {
  display: flex;
  flex-shrink: 1;
  align-items: center;

  width: 500px;
  height: 500px;

  .croppingImage {
    object-fit: contain;
  }
}

.filterPrevBtnContainer {
  margin: auto 0;
}
