@import '@/styles/variables/mixins';

.container {
  @include tablet {
    width: 700px;
  }

  @include mobile {
    width: 100%;
  }

  width: 900px;

  .wrapper {
    @include mobile {
      flex-direction: column;
      gap: 0;
    }

    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;

    width: 100%;
  }
}

.prevBtn {
  align-self: center;
  padding: 0;
}

.imgWrapper {
  @include mobile {
    width: 100%;
    height: calc(100vh - 120px - 61px - 130px);
  }

  display: flex;
  flex-shrink: 1;
  align-items: center;

  width: 500px;
  height: 500px;

  .croppingImage {
    object-fit: contain;
  }
}

.filterPrevBtnContainer {
  @include mobile {
    display: flex;
    flex-wrap: nowrap;
    height: 124px;
    margin-bottom: 10px;
  }

  @include tablet {
    height: 500px;
  }

  margin: auto 0;
}
