@import '@/styles/variables/mixins';

.modal {
  @include tablet {
    width: 800px;
  }

  @include mobile {
    width: 100%;
  }

  width: 900px;
}

.nextBtn {
  align-self: center;
  font: var(--font-h3);
}

.prevBtn {
  align-self: center;
  padding: 0;

  &:disabled {
    opacity: 0.5;
  }

  &:hover {
    opacity: 0.8;
  }
}

.container {
  @include mobile {
    flex-direction: column;
    height: calc(100dvh - 120px - 61px);
  }

  position: relative;
  display: flex;
  margin: 0;
}

.opacity {
  opacity: 0.75;
}

.postPhotoWrapper {
}

.postPhoto {
  width: 490px;
  height: 490px;
}

.descriptionWrapper {
  @include mobile {
    max-width: none;
    height: 100%;
    margin: 0;
  }

  width: 100%;
  max-width: 500px;
  margin: 24px;

  label {
    display: flex;
    flex-direction: column;
    font: var(--font-regular-14);
    color: var(--color-light-900);
  }

  span {
    @include mobile {
      color: var(--color-light-100);
    }

    align-self: end;
    font: var(--font-small);
  }
}

.userPhotoWrapper {
  @include mobile {
    margin-bottom: 0;
  }

  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 24px;

  .photo {
    overflow: hidden;
    display: grid;
    place-items: center;

    width: 36px;
    height: 36px;

    object-fit: cover;
    background-color: var(--color-dark-700);
    border-radius: 50%;
  }
}

.line {
  position: absolute;
  top: 258px;
  right: 0;

  width: 54.9%;
  height: 1px;
  margin: 10px 0;

  background-color: var(--color-dark-100);
}

.image {
  width: 510px;
}

.spinner {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
