@import '@/styles/variables/mixins';

.tabsRoot {
  @include mobile {
    padding: 0 15px;
  }

  display: flex;
  flex-direction: column;
  width: auto;
}

.tabsList {
  @include mobile {
    overflow-x: auto;
    display: flex;
    gap: 0;

    white-space: nowrap;

    border-bottom: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  display: flex;
  border-bottom: 2px solid var(--color-dark-100);
}

.tabsTrigger {
  @include mobile {
    display: inline-block;
    padding: 10px 8px;
  }

  user-select: none;

  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  padding-bottom: 9px;

  font: var(--font-h3);
  color: var(--color-dark-100);
}

.tabsTrigger:hover {
  color: var(--color-primary-500);
}

.tabsTrigger[data-state='active'] {
  @include mobile {
    bottom: -2px; // чтобы выровнять плашку снизу
    border-bottom: 2px solid var(--color-primary-500);
  }

  color: var(--color-primary-500);
  box-shadow: 1px 3px 0 -1px var(--color-primary-500);
}

.tabsTrigger[data-state='inactive'] {
  @include mobile {
    border-bottom: 2px solid var(--color-dark-100);
  }
}

.tabsTrigger[data-state='active']:first-child {
  color: var(--color-primary-500);
  box-shadow: 0 2px 0 0 var(--color-primary-500);
}
