@import '@/styles/variables/mixins';

@mixin comment {
  .comment {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:first-of-type) {
      margin-top: 8px;
    }

    &:last-child {
      margin-bottom: 8px;
    }

    .commentWrap {
      display: flex;
    }

    .commentName {
      padding-right: 6px;
    }

    .smallHeart {
      margin-left: 10px;
      padding-top: 4px;

      &:hover {
        cursor: pointer;

        svg {
          path {
            fill: var(--color-danger-500);
          }
        }
      }
    }

    img {
      @include mobile-large {
        display: none;
      }

      margin-right: 12px;
      border-radius: 50%;
    }
  }
}

.container {
  @include mobile-large {
    margin-top: 12px;
    margin-bottom: 40px;
    border-bottom: none;
  }

  display: flex;
  flex-direction: column;

  margin-top: 24px;
  margin-bottom: 36px;

  border-bottom: 1px solid var(--color-dark-100);

  .time {
    @include mobile-large {
      display: block;
    }

    display: none;
  }

  .viewComments {
    @include comment;

    @include mobile-large {
      margin-top: 0;
      margin-bottom: 0;
    }

    display: flex;
    flex-direction: column;

    max-height: 0;
    margin-top: 8px;

    transition: max-height 0.04s ease-in-out;

    .skeletonWrap {
      display: flex;
      gap: 12px;
    }
  }

  .openComments {
    @include comment;

    max-height: 100vh;
  }

  .viewBtn {
    @include mobile-large {
      font: var(--font-small);
    }

    align-self: baseline;

    &:hover {
      opacity: 0.75;
    }

    span {
      @include mobile-large {
        font: var(--font-small);
      }
    }
  }

  .addCommentBlock {
    @include mobile-large {
      display: none;
    }

    display: flex;
    justify-content: space-between;
    margin-top: 2px;

    .textField {
      resize: none;

      align-items: center;

      height: 47px;
      padding: 10px 10px 10px 0;

      background: transparent;
      border: none;
      outline: none;

      &::placeholder {
        color: var(--color-light-900);
      }

      &:focus,
      :focus-within {
        border: none;
      }
    }

    .button {
      &:disabled {
        opacity: 0.75;
      }

      &:hover {
        cursor: pointer;
        opacity: 0.75;
      }

      &:disabled:hover {
        cursor: default;
      }
    }
  }
}

.fetchSpinner {
  display: grid;
  place-items: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

.loader {
  transform: translateX(-38px);

  align-self: center;

  aspect-ratio: 1;
  width: 4px;
  margin-block: 1rem;

  color: var(--color-light-100);

  border-radius: 50%;
  box-shadow:
    19px 0 0 7px,
    38px 0 0 3px,
    57px 0 0 0;

  animation: l21 0.6s infinite alternate linear;
}

@keyframes l21 {
  50% {
    box-shadow:
      19px 0 0 3px,
      38px 0 0 7px,
      57px 0 0 3px;
  }

  100% {
    box-shadow:
      19px 0 0 0,
      38px 0 0 3px,
      57px 0 0 7px;
  }
}
