@import "@/styles/variables/mixins";

.wrapper {
  @include mobile {
    grid-template-areas:
        "avatar subscriber"
        "name ."
        "aboutMe aboutMe";
    place-items: center center;
  }

  display: grid;
  grid-gap: 20px;
  grid-template: auto / auto 1fr;
  grid-template-areas:
        "avatar name settings"
        "avatar subscriber subscriber"
        "avatar aboutMe aboutMe";
}

.avatarWrapper {
  @include mobile{
    width: 72px;
    height: 72px;
  }

  position: relative;

  display: flex;
  grid-area: avatar;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 192px;
  height: 192px;

  background: var(--color-dark-500);
  border-radius: 50%;
}
