.wrapper {
  display: flex;
  gap: 28px;

  @media (width <= 1024px) {
    flex-wrap: wrap;

    & > *:first-child {
      margin: 0 auto;
    }

    & > *:last-child {
      flex-grow: 1;
      text-align: center;
    }
  }
}

.avatarWrapper {
  position: relative;

  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 192px;
  height: 192px;

  background: var(--color-dark-500);
  border-radius: 50%;
}
