.wrapper {
  display: flex;
  gap: 28px;

  @media (width <= 720px) {
    flex-wrap: wrap;
  }
}

.avatarWrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 192px;
  height: 192px;

  background: var(--color-dark-500);
  border-radius: 50%;
}
