@import '@/styles/variables/mixins';

.name {
  grid-area: name;
}

.container {
  display: flex;
  flex-direction: column;

  .wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .btnContainer {
    display: flex;
    gap: 12px;
  }

  .stat {
    @include mobile {
    }

    display: flex;
    grid-area: subscriber;
    width: 100%;
    margin-bottom: 23px;
  }
}

.button {
  @include mobile {
    display: none;
  }

  display: inline-block;
  grid-area: settings;
  height: 35px;
}
