@import "@/styles/variables/mixins";

.name {
  grid-area: name;
}

.stat {
  @include mobile{

  }

  display: flex;
  grid-area: subscriber;
  width: 100%;
}

.button {
  @include mobile{
    display: none;
  }

  display: inline-block;
  grid-area: settings;
  height: 35px;
}
