@import '@/styles/variables/mixins';

.statContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@include min {
  .count {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
  }

  .title {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}

@media screen and (width <= 890px) {
  .statContainer {
    align-items: center;
  }
}
