.container {
  overflow: hidden;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  margin-top: 48px;

  .profilePhoto {
    width: 100%;
    height: 234px;
    object-fit: contain;
  }
}
