@import '@/styles/variables/mixins';

.aside {
  position: fixed;
  bottom: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 60px;
  padding: 0 48px;

  background: var(--color-dark-900);
  border-top: 1px solid var(--color-dark-300);


  & > a {
    display: flex;
    gap: 12px;
  }

  & > a:hover .navLink {
    color: var(--color-primary-100);
  }

  & > a:hover .navIcon path {
    fill: var(--color-primary-100) !important;
  }

  & > button:hover .navIcon path {
    fill: var(--color-primary-100) !important;
  }

  & > button:hover .navLink {
    color: var(--color-primary-100);
  }

  & > .spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.activeLink .navLink {
  color: var(--color-primary-500);
}

.activeLink .navIcon path {
  fill: var(--color-primary-500) !important;
}

.btnCreate {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;

  padding: 0;

  background-color: transparent;
  border: none;

  &:hover {
    background-color: transparent;
    border: none;
  }

  &:active {
    border: none;
  }

  &:focus {
    background-color: transparent;
  }
}

@include mobile {
  .aside {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
