@mixin button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  display: grid;
  place-items: center;

  background-color: rgb(33 33 33 / 50%);
  border-radius: 2px;

  &:disabled {
    display: none;
  }

  &:hover {
    cursor: pointer;
    background-color: rgb(33 33 33 / 45%);
  }
}

@mixin scale {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 12px;

  background-color: rgb(33 33 33 / 50%);
  border-radius: 2px;
}

.photosWrapper {
  position: relative;

  .homeBtn {
    @include button;

    width: 48px;
    height: 48px;
  }

  .photoScale {
    @include scale;

    padding: 4px 8px;
  }

  .homeScale {
    @include scale;

    padding: 8px;
  }

  .circle {
    width: 6px;
    height: 6px;
    background-color: var(--color-light-100);
    border-radius: 50%;
  }

  .homeCircle {
    width: 8px;
    height: 8px;
    background-color: var(--color-light-100);
    border-radius: 50%;
  }

  .circlePrimary {
    background-color: var(--color-primary-500);
  }

  .transparent {
    background-color: transparent;
  }

  .btn {
    @include button;

    width: 24px;
    height: 24px;
  }

  .dark {
    background-color: rgb(33 33 33 / 80%);

    &:hover {
      background-color: rgb(33 33 33 / 70%);
    }
  }

  .prevBtn {
    left: 0;
    margin-left: 12px;
  }

  .nextArrow {
    margin-left: 2px;
  }

  .nextBtn {
    right: 0;
    margin-right: 12px;
  }
}
